<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Album Details page</title>
</head>
<body>

    <p><img th:src="${oneAlbum.imageUrl}" th:alt="${oneAlbum.artist}" height="80" width="80"></p>
    <p>Title: <span th:text="${oneAlbum.title}"></span></p>
    <p>Artist:<span th:text="${oneAlbum.artist}"></span></p>
    <p>Song Count: <span th:text="${oneAlbum.songCount}"></span></p>
    <p>Song Length: <span th:text="${oneAlbum.length}"></span></p>

    <hr>

    <h1>Add Songs</h1>
    <form th:action="@{'/albumDetail/'+${oneAlbum.id}}" method="POST">
        Song Title: <input name="title" /><br />
        Track No. : <input name="length" /><br />
        Length: <input name="trackNumber" />(in seconds)<br />
        <input type="submit" /><br />
    </form>

    <h1>List of Songs In this Album</h1>
        <table>
            <thead>
                <th colspan="30">Title</th>
                <th colspan="10">Length</th>
                <th colspan="10">Track Number</th>
                <th>Update</th>
                <th>Delete</th>
            </thead>
            <tbody>
             <tr th:if="${oneAlbum.songs.empty}">
                <td colspan="5"> No songs in this album. Please add above! </td>
            </tr>

            <tr th:each="song : ${oneAlbum.songs}">
                <td colspan="30" th:text="${song.title}"></td>
                <td colspan="10" th:text="${song.length}"></td>
                <td colspan="10" th:text="${song.trackNumber}"></td>
                <td> <a th:href="@{'/updateSong/' + ${song.id}}">Update</a></td>
                <td> <a th:href="@{'/deleteSong/' + ${song.id}}">Delete</a></td>
            </tr>

            </tbody>

        </table>

    <button><a href="/albums">All Albums Page</a></button> | <button><a href="/">Home</a></button>

</body>
</html>


